/* App Css Common */

/* Sticky footer styles */
html {
  //position: relative;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  color: #777777;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  //height: 62px;
  background-color: #303133;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

.breadcrumb {
  background-color: #ffffff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-top: 4px solid $main-hue;
}

.card-default {
  border-radius: 0;
  margin-bottom: 1.5rem;
}

.card-default .card-header {
  padding: 0.75rem 0;
  margin: 0 1.25rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
}

.card-default .card-footer {
  background-color: rgba(0, 0, 0, 0);
}

.card-default .card-img-top {
  border-radius: 0;
}