// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$main-hue: #409EFF; // #18D26E
$auxiliary-hue: #67C23A;
//$main-hue: #18D26E;
//$auxiliary-hue: #67C23A;

// Bootstrap
$breadcrumb-divider: quote(">");
